* {
  margin: 0;
  padding: 0;
}

section {
  padding: 0 !important;
}

#home {
  background: linear-gradient(to bottom, #fff, #fc5050);
  transition: all 300ms ease-in-out;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: transparent;
  border-color: transparent;
  display: flex;
}

.main {
  display: flex;
}

.logo {
  margin: 0 0 3% 2%;
}

.logo >a> img {
  width: 50%;
}

.sections {
  display: flex;
  list-style-type: none;
  margin: 2% 0 1% 35%;
}

.sections > li {
  margin-right: 13%;
}

.sections > li > a {
  color: #567;
  cursor: pointer;
}

.slogan {
  width: 35%;
  margin: 12% 1% 3% 17%;
}

.slogan > h1 {
  color: #000;
  font-size: 50px;
  margin-bottom: 8%;
}

.slogan > h4 {
  color: rgb(255, 7, 15);
  margin-bottom: 8%;
  font-size: 20px;
}

.sports {
  margin: 7% 0.5% 5% 2%;
}

.sports>img{
  width: 800px;
}

@keyframes move_wave {
  0% {
    transform: translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.wave-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
}

.top {
  z-index: 3;
  opacity: 0.5;
}

.middle{
  z-index: 2;
  opacity: 0.75;
}

.bottom{
  z-index: 1;
}

.waveAnimation .wave-top {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveAnimation .wave-middle {
  animation: move_wave 10s linear infinite;
}

.waveAnimation .wave-bottom {
  animation: move_wave 15s linear infinite;
}

.wave-top {
  background-size: 50% 100px;
}

.wave-middle {
  background-size: 50% 120px;
}

.wave-bottom {
  background-size: 50% 100px;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

#about-us,
#products,
#blog {
  padding: 5% 2% !important;
  background: linear-gradient(to bottom, #ffffff, #fcdcdc);
}

.about-us__main {
  width: 95%;
  margin: 0 auto;
}

.about-us__head {
  display: flex;
}

.about-us__img {
  display: flex;
}
.about-us__img > img {
  width: 150%;
  margin: auto 0;
}

.about-us__content {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.about-us__content > h1 {
  font-weight: 800;
  color: rgba(0, 0, 0, 0.768);
  font-size: 2.5rem;
  margin-top: 0;
}

.about-us__content > h3 {
  color: #fc5050;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 10px;
}

#content {
  font-size: 14px;
  color: #567;
  line-height: 1.5;
  margin-top: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}


.counting {
  margin: 0 5%;
  padding-left: 10%;
}

.counting > p > span {
  color: #fc5050;
  font-size: 70px;
}

.counting > p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15%;
}

.about-us__foot {
  display: flex;
}

.about-us__foot > div {
  width: 25%;
  margin: 2%;
}

.about-us__foot > div > h3 {
  color: rgba(0, 0, 0, 0.768);
}

.about-us__foot > div > p {
  color: #567;
}

.products-main {
  display: flex;
  flex-direction: row;
}

.products-img {
  width: 90%;
}

.products-img > img {
  width: 100%;
  height: 250px;
  margin-top: 5%;

}

.products-content {
  width: 80%;
  margin-left: 3%;
}

.products-content > h3 {
  color: #fc5050;
}
.products-content > h1 {
  margin: 15px 0;
  font-size: 20px;
}
.products-content > p {
  font-weight: 400;
  color: #567;
  margin-top: 2%;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.61);
  width: 80%;
}

.brandCount {
  width: 80%;
  margin: 5% auto;
  text-align: center;
}

.brandCount > p {
  font-size: 45px;
}
.brandCount > p > span {
  color: #fc5050;
}

.slide > img {
  height: 90px;
}

.slider {
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider .slide {
  height: 112px;
  width: 100%;
  margin-right: 2rem;
}

.slider .slide-track-opposite {
  display: flex;
  animation: scrollOpposite 30s linear infinite alternate;
}
.slider .slide-track {
  display: flex;
  animation: scroll 30s linear infinite alternate;
}
.slider .slide-track-lastRow {
  display: flex;
  animation: scrollOppositeLast 30s linear infinite alternate;
}

@keyframes scrollOpposite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 10));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(calc(-170px * 10));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scrollOppositeLast {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-168px * 10));
  }
}

.details {
  background: linear-gradient(to bottom, rgb(243, 124, 124), #ee5656);
  z-index: 9 !important;
  height: 80px;
  display: flex;
}

.connected-us {
  width: 25%;
  margin-left: 10%;
}

.connected-us > p {
  margin-top: 4%;
  text-align: center;
  font-size: 16px;
}

.social-media {
  display: flex;
  margin-left: 40%;
}

.social-media > a > img {
  width: 40px;
}
.social-media > a {
  margin-top: 11%;
  margin-right: 20%;
}

.unionSports-head {
  display: flex;
  margin-top: 2%;
}

.unionSports {
  width: 25%;
  margin-left: 17%;
}

.unionSports > p {
  margin: unset;
  padding: unset;
  font-size: 17px;
  color: #567;
}

.unionSports-who {
  margin-left: 10%;
}

.unionSports-who > li ,
.contact > li {
  list-style-type: none;
  color: #567;
  font-size: 16px;
  cursor: pointer;
}

.unionSports-who > li > a{
  color: #567;
}


.contact {
  margin-left: 15%;
}

.contact > li > a {
  text-decoration: none;
  color: #567;
}

.copyright {
  margin-top: 2%;
}

.copyright > p {
  text-align: center;
  font-size: 18px;
}

.copyright > p > span {
  color: #fc5050;
}

.privacy {
  color: #567;
}


#stars{
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1111px 1897px #000, 3px 1002px #000, 1334px 620px #000, 1826px 1295px #000, 1145px 1216px #000, 146px 628px #000, 1132px 434px #000, 1946px 1510px #000, 280px 554px #000, 659px 530px #000, 1211px 79px #000, 1043px 441px #000, 177px 847px #000, 1127px 920px #000, 771px 1745px #000, 530px 1533px #000, 1628px 462px #000, 1437px 673px #000, 457px 1567px #000, 1776px 1136px #000, 1430px 330px #000, 100px 652px #000, 1632px 431px #000, 510px 684px #000, 1441px 986px #000, 624px 1837px #000, 1006px 484px #000, 1930px 1047px #000, 1561px 57px #000, 1051px 314px #000, 520px 1617px #000, 740px 1887px #000, 1897px 1735px #000, 1960px 173px #000, 465px 172px #000, 219px 1288px #000, 119px 1571px #000, 1482px 1651px #000, 1870px 374px #000, 459px 1778px #000, 1859px 801px #000, 1280px 376px #000, 957px 1121px #000, 1665px 1370px #000, 336px 656px #000, 1904px 1157px #000, 1113px 1660px #000, 1735px 1710px #000, 920px 907px #000, 919px 625px #000, 1641px 1662px #000, 1967px 1427px #000, 66px 245px #000, 536px 472px #000, 1651px 796px #000, 1949px 614px #000, 1139px 827px #000, 1013px 1192px #000, 1688px 1438px #000, 555px 252px #000, 707px 1071px #000, 428px 221px #000, 13px 1211px #000, 1030px 937px #000, 498px 1605px #000, 1542px 61px #000, 1186px 1863px #000, 582px 619px #000, 46px 989px #000, 1457px 1744px #000, 537px 3px #000, 1360px 1714px #000, 245px 1393px #000, 1128px 1172px #000, 1607px 1582px #000, 1166px 679px #000, 725px 1414px #000, 45px 1956px #000, 130px 483px #000, 1241px 1045px #000, 726px 1038px #000, 1191px 1697px #000, 1706px 1819px #000, 722px 1422px #000, 1438px 1445px #000, 693px 303px #000, 1313px 480px #000, 1660px 1988px #000, 107px 1504px #000, 991px 1693px #000, 1203px 1241px #000, 580px 69px #000, 1116px 1098px #000, 1445px 706px #000, 1656px 460px #000, 862px 141px #000, 66px 1592px #000, 145px 1591px #000, 1174px 901px #000, 1824px 1823px #000, 1116px 829px #000, 927px 1490px #000, 524px 1078px #000, 1523px 1495px #000, 1277px 1122px #000, 46px 1349px #000, 1244px 654px #000, 1824px 1398px #000, 1597px 1389px #000, 896px 965px #000, 584px 1319px #000, 1141px 611px #000, 925px 450px #000, 1781px 1876px #000, 1415px 1118px #000, 214px 1766px #000, 1461px 892px #000, 124px 892px #000, 1587px 1656px #000, 249px 398px #000, 111px 1118px #000, 1389px 897px #000, 1896px 1223px #000, 146px 1494px #000, 1997px 287px #000, 1099px 1963px #000, 15px 946px #000, 1060px 1016px #000, 382px 1278px #000, 299px 630px #000, 1016px 661px #000, 1373px 249px #000, 1444px 1058px #000, 470px 963px #000, 771px 1542px #000, 1582px 1746px #000, 1505px 737px #000, 724px 41px #000, 157px 1362px #000, 1560px 157px #000, 1207px 852px #000, 237px 633px #000, 1382px 314px #000, 1363px 815px #000, 449px 688px #000, 535px 291px #000, 738px 1658px #000, 1611px 828px #000, 80px 285px #000, 775px 389px #000, 932px 174px #000, 578px 648px #000, 370px 65px #000, 1483px 1245px #000, 1121px 1660px #000, 483px 270px #000, 934px 1837px #000, 1772px 1340px #000, 441px 443px #000, 822px 824px #000, 1748px 207px #000, 46px 1549px #000, 210px 1132px #000, 509px 818px #000, 18px 1533px #000, 569px 1167px #000, 1208px 1905px #000, 836px 1041px #000, 1596px 422px #000, 1011px 586px #000, 1485px 995px #000, 46px 1165px #000, 1379px 248px #000, 1932px 1722px #000, 1598px 468px #000, 1684px 1041px #000, 185px 779px #000, 931px 202px #000, 347px 91px #000, 1636px 780px #000, 1420px 247px #000, 774px 771px #000, 1281px 124px #000, 717px 1497px #000, 1489px 1241px #000, 792px 1217px #000, 219px 803px #000, 1475px 992px #000, 1335px 1875px #000, 1979px 247px #000, 694px 1067px #000, 359px 1592px #000, 1481px 1582px #000, 1970px 1081px #000, 568px 1827px #000, 1595px 771px #000, 256px 1623px #000, 356px 1192px #000, 713px 1465px #000, 1761px 1453px #000, 39px 20px #000, 298px 868px #000, 1315px 1368px #000, 964px 70px #000, 119px 26px #000, 576px 1752px #000, 512px 619px #000, 1931px 791px #000, 1374px 232px #000, 1974px 877px #000, 143px 1712px #000, 320px 1551px #000, 467px 1562px #000, 1201px 1084px #000, 735px 754px #000, 1309px 833px #000, 1454px 1627px #000, 1363px 728px #000, 287px 610px #000, 662px 1341px #000, 1844px 1666px #000, 1295px 872px #000, 1202px 1500px #000, 1948px 1077px #000, 16px 279px #000, 776px 1810px #000, 621px 125px #000, 1119px 1563px #000, 1156px 353px #000, 991px 516px #000, 1505px 289px #000, 1171px 1075px #000, 252px 677px #000, 1908px 564px #000, 1235px 1309px #000, 948px 1393px #000, 1740px 1851px #000, 1770px 1084px #000, 666px 85px #000, 352px 1329px #000, 1362px 1410px #000, 407px 1959px #000, 612px 1553px #000, 1930px 1383px #000, 252px 192px #000, 82px 9px #000, 1158px 346px #000, 123px 516px #000, 1463px 666px #000, 123px 1084px #000, 23px 983px #000, 599px 659px #000, 1428px 1614px #000, 811px 704px #000, 412px 525px #000, 191px 343px #000, 955px 1977px #000, 1809px 864px #000, 1371px 1037px #000, 722px 1486px #000, 607px 336px #000, 1148px 18px #000, 786px 1463px #000, 1200px 1858px #000, 1397px 627px #000, 1222px 1743px #000, 1696px 245px #000, 230px 281px #000, 1568px 692px #000, 1845px 715px #000, 1842px 635px #000, 195px 724px #000, 1765px 1893px #000, 337px 1582px #000, 433px 1149px #000, 1684px 1871px #000, 901px 718px #000, 1073px 1289px #000, 819px 890px #000, 1141px 702px #000, 629px 283px #000, 772px 1371px #000, 1799px 1444px #000, 185px 1430px #000, 1439px 846px #000, 207px 1565px #000, 697px 652px #000, 18px 772px #000, 1409px 997px #000, 1590px 713px #000, 1317px 863px #000, 1509px 1503px #000, 1115px 1527px #000, 386px 1580px #000, 910px 1225px #000, 105px 1023px #000, 1407px 705px #000, 1067px 1198px #000, 11px 938px #000, 1546px 1624px #000, 1072px 1291px #000, 1423px 498px #000, 762px 650px #000, 568px 1464px #000, 1557px 1984px #000, 738px 14px #000, 564px 1548px #000, 541px 1225px #000, 144px 1319px #000, 1463px 1047px #000, 594px 1642px #000, 52px 1791px #000, 1734px 1998px #000, 659px 91px #000, 547px 1952px #000, 1290px 720px #000, 458px 782px #000, 1555px 1519px #000, 1742px 1756px #000, 710px 1153px #000, 1174px 1277px #000, 1750px 672px #000, 1919px 39px #000, 1786px 980px #000, 266px 396px #000, 1555px 1103px #000, 483px 966px #000, 983px 1947px #000, 1094px 1225px #000, 1212px 350px #000, 1046px 1917px #000, 1877px 1027px #000, 87px 1208px #000, 67px 282px #000, 1423px 426px #000, 1283px 326px #000, 881px 408px #000, 1849px 506px #000, 610px 816px #000, 401px 101px #000, 1630px 1883px #000, 449px 294px #000, 419px 1763px #000, 994px 566px #000, 1989px 36px #000, 42px 71px #000, 158px 711px #000, 476px 1048px #000, 1474px 1122px #000, 851px 526px #000, 1131px 1360px #000, 66px 849px #000, 597px 877px #000, 863px 394px #000, 1417px 1806px #000, 1567px 680px #000, 1137px 1778px #000, 512px 1090px #000, 1699px 1362px #000, 631px 471px #000, 1058px 746px #000, 1669px 1379px #000, 1703px 501px #000, 895px 955px #000, 920px 304px #000, 1762px 259px #000, 1247px 260px #000, 523px 1424px #000, 705px 1176px #000, 1123px 189px #000, 7px 1487px #000, 481px 618px #000, 593px 1565px #000, 583px 1049px #000, 1673px 937px #000, 1973px 1535px #000, 270px 293px #000, 402px 1355px #000, 444px 51px #000, 1991px 636px #000, 268px 674px #000, 168px 1749px #000, 1125px 1286px #000, 1356px 1068px #000, 364px 1185px #000, 65px 839px #000, 1628px 310px #000, 1698px 1743px #000, 970px 1730px #000, 1158px 976px #000, 484px 911px #000, 494px 567px #000, 1241px 773px #000, 1066px 1363px #000, 1644px 487px #000, 671px 202px #000, 1771px 305px #000, 1136px 635px #000, 1462px 1875px #000, 4px 1779px #000, 1411px 1273px #000, 990px 337px #000, 40px 704px #000, 1623px 1094px #000, 712px 1999px #000, 152px 515px #000, 1035px 1482px #000, 1461px 106px #000, 1759px 149px #000, 410px 1974px #000, 438px 582px #000, 1837px 1915px #000, 702px 1213px #000, 1508px 1748px #000, 99px 1634px #000, 720px 904px #000, 1795px 1457px #000, 1417px 329px #000, 18px 950px #000, 1342px 189px #000, 1965px 802px #000, 952px 1527px #000, 1173px 1436px #000, 158px 454px #000, 342px 1502px #000, 1169px 1599px #000, 1978px 2000px #000, 1990px 921px #000, 337px 428px #000, 69px 1787px #000, 1155px 950px #000, 1787px 1250px #000, 1337px 36px #000, 933px 365px #000, 1869px 551px #000, 1305px 1881px #000, 1752px 1580px #000, 1592px 1755px #000, 1232px 457px #000, 1585px 1626px #000, 1975px 308px #000, 1280px 1899px #000, 1280px 1385px #000, 1770px 1801px #000, 632px 436px #000, 1923px 36px #000, 681px 873px #000, 1914px 1395px #000, 596px 1889px #000, 888px 394px #000, 1502px 1512px #000, 1494px 882px #000, 1156px 1217px #000, 49px 1928px #000, 1843px 292px #000, 1664px 1322px #000, 1857px 275px #000, 332px 631px #000, 1028px 938px #000, 6px 1941px #000, 1831px 742px #000, 294px 859px #000, 1595px 1514px #000, 1092px 1323px #000, 854px 1047px #000, 1492px 748px #000, 1179px 1002px #000, 343px 1541px #000, 1257px 1501px #000, 1299px 1067px #000, 1717px 508px #000, 1335px 440px #000, 1386px 482px #000, 1094px 1254px #000, 407px 493px #000, 1914px 334px #000, 81px 1922px #000, 107px 158px #000, 1125px 544px #000, 1511px 1303px #000, 1885px 1311px #000, 1565px 77px #000, 1007px 1220px #000, 1184px 85px #000, 1107px 1117px #000, 554px 235px #000, 940px 278px #000, 1676px 79px #000, 1403px 1332px #000, 1902px 556px #000, 1591px 1940px #000, 1135px 600px #000, 1015px 1863px #000, 1900px 296px #000, 1849px 149px #000, 1025px 719px #000, 1737px 24px #000, 1386px 10px #000, 493px 1204px #000, 1193px 566px #000, 1579px 756px #000, 58px 1871px #000, 1919px 181px #000, 925px 1792px #000, 1447px 979px #000, 1245px 48px #000, 1014px 957px #000, 991px 678px #000, 824px 517px #000, 731px 1495px #000, 1277px 208px #000, 789px 949px #000, 531px 876px #000, 1524px 1808px #000, 206px 1520px #000, 1434px 1863px #000, 307px 1996px #000, 577px 326px #000, 1295px 854px #000, 347px 812px #000, 779px 1164px #000, 1116px 733px #000, 848px 1295px #000, 1109px 1041px #000, 1420px 400px #000, 155px 507px #000, 147px 242px #000, 275px 1261px #000, 1976px 1553px #000, 1050px 1640px #000, 1525px 50px #000, 797px 636px #000, 1668px 268px #000, 1223px 951px #000, 1293px 527px #000, 531px 1274px #000, 1996px 527px #000, 1885px 652px #000, 95px 1054px #000, 1929px 572px #000, 755px 1700px #000, 471px 1239px #000, 445px 1601px #000, 874px 1874px #000, 1132px 977px #000, 33px 292px #000, 254px 1868px #000, 824px 706px #000, 1084px 1156px #000, 1044px 548px #000, 953px 1286px #000, 1056px 95px #000, 1268px 479px #000, 1120px 1579px #000, 989px 1006px #000, 1854px 1398px #000, 407px 765px #000, 1873px 1625px #000, 586px 726px #000, 1605px 1829px #000, 381px 843px #000, 1419px 776px #000, 1496px 74px #000, 134px 1823px #000, 1026px 954px #000, 1932px 1052px #000, 309px 1473px #000, 1702px 347px #000, 766px 1396px #000, 716px 69px #000, 46px 1309px #000, 310px 276px #000, 1299px 1183px #000, 50px 865px #000, 341px 947px #000, 962px 30px #000, 440px 1886px #000, 182px 290px #000, 1892px 642px #000, 1673px 214px #000, 1654px 1864px #000, 180px 532px #000, 48px 582px #000, 969px 1458px #000, 1071px 778px #000, 1428px 861px #000, 1011px 919px #000, 1310px 1853px #000, 1945px 118px #000, 1505px 1470px #000, 339px 1558px #000, 574px 770px #000, 1040px 348px #000, 597px 1105px #000, 1448px 1471px #000, 890px 1001px #000, 795px 1112px #000, 1409px 747px #000, 1748px 1684px #000, 949px 1533px #000, 335px 1981px #000, 552px 729px #000, 341px 653px #000, 1395px 634px #000, 152px 1999px #000, 601px 1879px #000, 565px 473px #000, 14px 713px #000, 511px 1293px #000, 1077px 941px #000, 1785px 840px #000, 642px 1714px #000, 822px 153px #000, 508px 1604px #000, 371px 594px #000, 302px 1166px #000, 1906px 1577px #000, 562px 1402px #000, 630px 1328px #000, 306px 1127px #000, 788px 285px #000, 1052px 519px #000, 222px 697px #000, 1137px 1287px #000, 1702px 569px #000, 1256px 819px #000, 94px 1522px #000, 708px 1277px #000, 84px 1974px #000, 1712px 1498px #000, 901px 1419px #000, 346px 1678px #000, 516px 1396px #000, 106px 1257px #000, 621px 449px #000, 1757px 361px #000, 756px 693px #000, 1175px 66px #000, 1110px 1618px #000, 1497px 1711px #000, 1073px 901px #000, 740px 1468px #000, 1088px 233px #000, 1017px 958px #000, 1251px 1744px #000, 1588px 233px #000, 1303px 1398px #000, 701px 233px #000, 692px 1611px #000, 464px 409px #000, 1921px 614px #000, 32px 1317px #000, 277px 1565px #000, 620px 73px #000, 1121px 1605px #000, 431px 1662px #000, 1563px 290px #000, 776px 480px #000, 237px 1062px #000, 1027px 783px #000, 423px 610px #000, 1089px 1179px #000, 1122px 1031px #000, 1623px 1935px #000, 1152px 1843px #000, 1855px 1625px #000, 494px 1164px #000, 1003px 1390px #000, 1241px 1605px #000, 454px 9px #000, 310px 1614px #000, 1548px 1758px #000, 1415px 1113px #000, 1548px 1849px #000, 1517px 1779px #000, 28px 992px #000, 1439px 48px #000, 198px 539px #000, 649px 188px #000, 435px 258px #000, 1133px 896px #000, 1674px 705px #000, 982px 1393px #000, 934px 1271px #000, 7px 1680px #000, 1161px 491px #000, 1577px 390px #000, 1885px 1395px #000, 318px 1933px #000, 285px 591px #000, 1228px 305px #000, 523px 1122px #000, 1584px 1015px #000, 1058px 1311px #000, 281px 1610px #000, 729px 1401px #000, 436px 1573px #000, 1822px 1563px #000, 1463px 1604px #000, 1671px 1223px #000;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1111px 1897px #000, 3px 1002px #000, 1334px 620px #000,
    1826px 1295px #000, 1145px 1216px #000, 146px 628px #000, 1132px 434px #000,
    1946px 1510px #000, 280px 554px #000, 659px 530px #000, 1211px 79px #000,
    1043px 441px #000, 177px 847px #000, 1127px 920px #000, 771px 1745px #000,
    530px 1533px #000, 1628px 462px #000, 1437px 673px #000, 457px 1567px #000,
    1776px 1136px #000, 1430px 330px #000, 100px 652px #000, 1632px 431px #000,
    510px 684px #000, 1441px 986px #000, 624px 1837px #000, 1006px 484px #000,
    1930px 1047px #000, 1561px 57px #000, 1051px 314px #000, 520px 1617px #000,
    740px 1887px #000, 1897px 1735px #000, 1960px 173px #000, 465px 172px #000,
    219px 1288px #000, 119px 1571px #000, 1482px 1651px #000, 1870px 374px #000,
    459px 1778px #000, 1859px 801px #000, 1280px 376px #000, 957px 1121px #000,
    1665px 1370px #000, 336px 656px #000, 1904px 1157px #000, 1113px 1660px #000,
    1735px 1710px #000, 920px 907px #000, 919px 625px #000, 1641px 1662px #000,
    1967px 1427px #000, 66px 245px #000, 536px 472px #000, 1651px 796px #000,
    1949px 614px #000, 1139px 827px #000, 1013px 1192px #000, 1688px 1438px #000,
    555px 252px #000, 707px 1071px #000, 428px 221px #000, 13px 1211px #000,
    1030px 937px #000, 498px 1605px #000, 1542px 61px #000, 1186px 1863px #000,
    582px 619px #000, 46px 989px #000, 1457px 1744px #000, 537px 3px #000,
    1360px 1714px #000, 245px 1393px #000, 1128px 1172px #000,
    1607px 1582px #000, 1166px 679px #000, 725px 1414px #000, 45px 1956px #000,
    130px 483px #000, 1241px 1045px #000, 726px 1038px #000, 1191px 1697px #000,
    1706px 1819px #000, 722px 1422px #000, 1438px 1445px #000, 693px 303px #000,
    1313px 480px #000, 1660px 1988px #000, 107px 1504px #000, 991px 1693px #000,
    1203px 1241px #000, 580px 69px #000, 1116px 1098px #000, 1445px 706px #000,
    1656px 460px #000, 862px 141px #000, 66px 1592px #000, 145px 1591px #000,
    1174px 901px #000, 1824px 1823px #000, 1116px 829px #000, 927px 1490px #000,
    524px 1078px #000, 1523px 1495px #000, 1277px 1122px #000, 46px 1349px #000,
    1244px 654px #000, 1824px 1398px #000, 1597px 1389px #000, 896px 965px #000,
    584px 1319px #000, 1141px 611px #000, 925px 450px #000, 1781px 1876px #000,
    1415px 1118px #000, 214px 1766px #000, 1461px 892px #000, 124px 892px #000,
    1587px 1656px #000, 249px 398px #000, 111px 1118px #000, 1389px 897px #000,
    1896px 1223px #000, 146px 1494px #000, 1997px 287px #000, 1099px 1963px #000,
    15px 946px #000, 1057px 1016px #000, 382px 1278px #000, 299px 630px #000,
    1016px 661px #000, 1373px 249px #000, 1444px 1058px #000, 470px 963px #000,
    771px 1542px #000, 1582px 1746px #000, 1505px 737px #000, 724px 41px #000,
    157px 1362px #000, 1560px 157px #000, 1207px 852px #000, 237px 633px #000,
    1382px 314px #000, 1363px 815px #000, 449px 688px #000, 535px 291px #000,
    738px 1658px #000, 1611px 828px #000, 80px 285px #000, 775px 389px #000,
    932px 174px #000, 578px 648px #000, 370px 65px #000, 1483px 1245px #000,
    1121px 1660px #000, 483px 270px #000, 934px 1837px #000, 1772px 1340px #000,
    441px 443px #000, 822px 824px #000, 1748px 207px #000, 46px 1549px #000,
    210px 1132px #000, 509px 818px #000, 18px 1533px #000, 569px 1167px #000,
    1208px 1905px #000, 836px 1041px #000, 1596px 422px #000, 1011px 586px #000,
    1485px 995px #000, 46px 1165px #000, 1379px 248px #000, 1932px 1722px #000,
    1598px 468px #000, 1684px 1041px #000, 185px 779px #000, 931px 202px #000,
    347px 91px #000, 1636px 780px #000, 1420px 247px #000, 774px 771px #000,
    1281px 124px #000, 717px 1497px #000, 1489px 1241px #000, 792px 1217px #000,
    219px 803px #000, 1475px 992px #000, 1335px 1875px #000, 1979px 247px #000,
    694px 1067px #000, 359px 1592px #000, 1481px 1582px #000, 1970px 1081px #000,
    568px 1827px #000, 1595px 771px #000, 256px 1623px #000, 356px 1192px #000,
    713px 1465px #000, 1761px 1453px #000, 39px 20px #000, 298px 868px #000,
    1315px 1368px #000, 964px 70px #000, 119px 26px #000, 576px 1752px #000,
    512px 619px #000, 1931px 791px #000, 1374px 232px #000, 1974px 877px #000,
    143px 1712px #000, 320px 1551px #000, 467px 1562px #000, 1201px 1084px #000,
    735px 754px #000, 1309px 833px #000, 1454px 1627px #000, 1363px 728px #000,
    287px 610px #000, 662px 1341px #000, 1844px 1666px #000, 1295px 872px #000,
    1202px 1500px #000, 1948px 1077px #000, 16px 279px #000, 776px 1810px #000,
    621px 125px #000, 1119px 1563px #000, 1156px 353px #000, 991px 516px #000,
    1505px 289px #000, 1171px 1075px #000, 252px 677px #000, 1908px 564px #000,
    1235px 1309px #000, 948px 1393px #000, 1740px 1851px #000,
    1770px 1084px #000, 666px 85px #000, 352px 1329px #000, 1362px 1410px #000,
    407px 1959px #000, 612px 1553px #000, 1930px 1383px #000, 252px 192px #000,
    82px 9px #000, 1158px 346px #000, 123px 516px #000, 1463px 666px #000,
    123px 1084px #000, 23px 983px #000, 599px 659px #000, 1428px 1614px #000,
    811px 704px #000, 412px 525px #000, 191px 343px #000, 955px 1977px #000,
    1809px 864px #000, 1371px 1037px #000, 722px 1486px #000, 607px 336px #000,
    1148px 18px #000, 786px 1463px #000, 1200px 1858px #000, 1397px 627px #000,
    1222px 1743px #000, 1696px 245px #000, 230px 281px #000, 1568px 692px #000,
    1845px 715px #000, 1842px 635px #000, 195px 724px #000, 1765px 1893px #000,
    337px 1582px #000, 433px 1149px #000, 1684px 1871px #000, 901px 718px #000,
    1073px 1289px #000, 819px 890px #000, 1141px 702px #000, 629px 283px #000,
    772px 1371px #000, 1799px 1444px #000, 185px 1430px #000, 1439px 846px #000,
    207px 1565px #000, 697px 652px #000, 18px 772px #000, 1409px 997px #000,
    1590px 713px #000, 1317px 863px #000, 1509px 1503px #000, 1115px 1527px #000,
    386px 1580px #000, 910px 1225px #000, 105px 1023px #000, 1407px 705px #000,
    1067px 1198px #000, 11px 938px #000, 1546px 1624px #000, 1072px 1291px #000,
    1423px 498px #000, 762px 650px #000, 568px 1464px #000, 1557px 1984px #000,
    738px 14px #000, 564px 1548px #000, 541px 1225px #000, 144px 1319px #000,
    1463px 1047px #000, 594px 1642px #000, 52px 1791px #000, 1734px 1998px #000,
    659px 91px #000, 547px 1952px #000, 1290px 720px #000, 458px 782px #000,
    1555px 1519px #000, 1742px 1756px #000, 710px 1153px #000,
    1174px 1277px #000, 1750px 672px #000, 1919px 39px #000, 1786px 980px #000,
    266px 396px #000, 1555px 1103px #000, 483px 966px #000, 983px 1947px #000,
    1094px 1225px #000, 1212px 350px #000, 1046px 1917px #000,
    1877px 1027px #000, 87px 1208px #000, 67px 282px #000, 1423px 426px #000,
    1283px 326px #000, 881px 408px #000, 1849px 506px #000, 610px 816px #000,
    401px 101px #000, 1630px 1883px #000, 449px 294px #000, 419px 1763px #000,
    994px 566px #000, 1989px 36px #000, 42px 71px #000, 158px 711px #000,
    476px 1048px #000, 1474px 1122px #000, 851px 526px #000, 1131px 1360px #000,
    66px 849px #000, 597px 877px #000, 863px 394px #000, 1417px 1806px #000,
    1567px 680px #000, 1137px 1778px #000, 512px 1090px #000, 1699px 1362px #000,
    631px 471px #000, 1058px 746px #000, 1669px 1379px #000, 1703px 501px #000,
    895px 955px #000, 920px 304px #000, 1762px 259px #000, 1247px 260px #000,
    523px 1424px #000, 705px 1176px #000, 1123px 189px #000, 7px 1487px #000,
    481px 618px #000, 593px 1565px #000, 583px 1049px #000, 1673px 937px #000,
    1973px 1535px #000, 270px 293px #000, 402px 1355px #000, 444px 51px #000,
    1991px 636px #000, 268px 674px #000, 168px 1749px #000, 1125px 1286px #000,
    1356px 1068px #000, 364px 1185px #000, 65px 839px #000, 1628px 310px #000,
    1698px 1743px #000, 970px 1730px #000, 1158px 976px #000, 484px 911px #000,
    494px 567px #000, 1241px 773px #000, 1066px 1363px #000, 1644px 487px #000,
    671px 202px #000, 1771px 305px #000, 1136px 635px #000, 1462px 1875px #000,
    4px 1779px #000, 1411px 1273px #000, 990px 337px #000, 40px 704px #000,
    1623px 1094px #000, 712px 1999px #000, 152px 515px #000, 1035px 1482px #000,
    1461px 106px #000, 1759px 149px #000, 410px 1974px #000, 438px 582px #000,
    1837px 1915px #000, 702px 1213px #000, 1508px 1748px #000, 99px 1634px #000,
    720px 904px #000, 1795px 1457px #000, 1417px 329px #000, 18px 950px #000,
    1342px 189px #000, 1965px 802px #000, 952px 1527px #000, 1173px 1436px #000,
    158px 454px #000, 342px 1502px #000, 1169px 1599px #000, 1978px 2000px #000,
    1990px 921px #000, 337px 428px #000, 69px 1787px #000, 1155px 950px #000,
    1787px 1250px #000, 1337px 36px #000, 933px 365px #000, 1869px 551px #000,
    1305px 1881px #000, 1752px 1580px #000, 1592px 1755px #000,
    1232px 457px #000, 1585px 1626px #000, 1975px 308px #000, 1280px 1899px #000,
    1280px 1385px #000, 1770px 1801px #000, 632px 436px #000, 1923px 36px #000,
    681px 873px #000, 1914px 1395px #000, 596px 1889px #000, 888px 394px #000,
    1502px 1512px #000, 1494px 882px #000, 1156px 1217px #000, 49px 1928px #000,
    1843px 292px #000, 1664px 1322px #000, 1857px 275px #000, 332px 631px #000,
    1028px 938px #000, 6px 1941px #000, 1831px 742px #000, 294px 859px #000,
    1595px 1514px #000, 1092px 1323px #000, 854px 1047px #000, 1492px 748px #000,
    1179px 1002px #000, 343px 1541px #000, 1257px 1501px #000,
    1299px 1067px #000, 1717px 508px #000, 1335px 440px #000, 1386px 482px #000,
    1094px 1254px #000, 407px 493px #000, 1914px 334px #000, 81px 1922px #000,
    107px 158px #000, 1125px 544px #000, 1511px 1303px #000, 1885px 1311px #000,
    1565px 77px #000, 1007px 1220px #000, 1184px 85px #000, 1107px 1117px #000,
    554px 235px #000, 940px 278px #000, 1676px 79px #000, 1403px 1332px #000,
    1902px 556px #000, 1591px 1940px #000, 1135px 600px #000, 1015px 1863px #000,
    1900px 296px #000, 1849px 149px #000, 1025px 719px #000, 1737px 24px #000,
    1386px 10px #000, 493px 1204px #000, 1193px 566px #000, 1579px 756px #000,
    58px 1871px #000, 1919px 181px #000, 925px 1792px #000, 1447px 979px #000,
    1245px 48px #000, 1014px 957px #000, 991px 678px #000, 824px 517px #000,
    731px 1495px #000, 1277px 208px #000, 789px 949px #000, 531px 876px #000,
    1524px 1808px #000, 206px 1520px #000, 1434px 1863px #000, 307px 1996px #000,
    577px 326px #000, 1295px 854px #000, 347px 812px #000, 779px 1164px #000,
    1116px 733px #000, 848px 1295px #000, 1109px 1041px #000, 1420px 400px #000,
    155px 507px #000, 147px 242px #000, 275px 1261px #000, 1976px 1553px #000,
    1050px 1640px #000, 1525px 50px #000, 797px 636px #000, 1668px 268px #000,
    1223px 951px #000, 1293px 527px #000, 531px 1274px #000, 1996px 527px #000,
    1885px 652px #000, 95px 1054px #000, 1929px 572px #000, 755px 1700px #000,
    471px 1239px #000, 445px 1601px #000, 874px 1874px #000, 1132px 977px #000,
    33px 292px #000, 254px 1868px #000, 824px 706px #000, 1084px 1156px #000,
    1044px 548px #000, 953px 1286px #000, 1056px 95px #000, 1268px 479px #000,
    1120px 1579px #000, 989px 1006px #000, 1854px 1398px #000, 407px 765px #000,
    1873px 1625px #000, 586px 726px #000, 1605px 1829px #000, 381px 843px #000,
    1419px 776px #000, 1496px 74px #000, 134px 1823px #000, 1026px 954px #000,
    1932px 1052px #000, 309px 1473px #000, 1702px 347px #000, 766px 1396px #000,
    716px 69px #000, 46px 1309px #000, 310px 276px #000, 1299px 1183px #000,
    50px 865px #000, 341px 947px #000, 962px 30px #000, 440px 1886px #000,
    182px 290px #000, 1892px 642px #000, 1673px 214px #000, 1654px 1864px #000,
    180px 532px #000, 48px 582px #000, 969px 1458px #000, 1071px 778px #000,
    1428px 861px #000, 1011px 919px #000, 1310px 1853px #000, 1945px 118px #000,
    1505px 1470px #000, 339px 1558px #000, 574px 770px #000, 1040px 348px #000,
    597px 1105px #000, 1448px 1471px #000, 890px 1001px #000, 795px 1112px #000,
    1409px 747px #000, 1748px 1684px #000, 949px 1533px #000, 335px 1981px #000,
    552px 729px #000, 341px 653px #000, 1395px 634px #000, 152px 1999px #000,
    601px 1879px #000, 565px 473px #000, 14px 713px #000, 511px 1293px #000,
    1077px 941px #000, 1785px 840px #000, 642px 1714px #000, 822px 153px #000,
    508px 1604px #000, 371px 594px #000, 302px 1166px #000, 1906px 1577px #000,
    562px 1402px #000, 630px 1328px #000, 306px 1127px #000, 788px 285px #000,
    1052px 519px #000, 222px 697px #000, 1137px 1287px #000, 1702px 569px #000,
    1256px 819px #000, 94px 1522px #000, 708px 1277px #000, 84px 1974px #000,
    1712px 1498px #000, 901px 1419px #000, 346px 1678px #000, 516px 1396px #000,
    106px 1257px #000, 621px 449px #000, 1757px 361px #000, 756px 693px #000,
    1175px 66px #000, 1110px 1618px #000, 1497px 1711px #000, 1073px 901px #000,
    740px 1468px #000, 1088px 233px #000, 1017px 958px #000, 1251px 1744px #000,
    1588px 233px #000, 1303px 1398px #000, 701px 233px #000, 692px 1611px #000,
    464px 409px #000, 1921px 614px #000, 32px 1317px #000, 277px 1565px #000,
    620px 73px #000, 1121px 1605px #000, 431px 1662px #000, 1563px 290px #000,
    776px 480px #000, 237px 1062px #000, 1027px 783px #000, 423px 610px #000,
    1089px 1179px #000, 1122px 1031px #000, 1623px 1935px #000,
    1152px 1843px #000, 1855px 1625px #000, 494px 1164px #000,
    1003px 1390px #000, 1241px 1605px #000, 454px 9px #000, 310px 1614px #000,
    1548px 1758px #000, 1415px 1113px #000, 1548px 1849px #000,
    1517px 1779px #000, 28px 992px #000, 1439px 48px #000, 198px 539px #000,
    649px 188px #000, 435px 258px #000, 1133px 896px #000, 1674px 705px #000,
    982px 1393px #000, 934px 1271px #000, 7px 1680px #000, 1161px 491px #000,
    1577px 390px #000, 1885px 1395px #000, 318px 1933px #000, 285px 591px #000,
    1228px 305px #000, 523px 1122px #000, 1584px 1015px #000, 1058px 1311px #000,
    281px 1610px #000, 729px 1401px #000, 436px 1573px #000, 1822px 1563px #000,
    1463px 1604px #000, 1671px 1223px #000;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 610px 1355px #000, 556px 441px #000, 163px 296px #000,
    1417px 1165px #000, 1420px 1522px #000, 970px 1223px #000, 702px 216px #000,
    779px 273px #000, 993px 674px #000, 997px 1567px #000, 1697px 1045px #000,
    1101px 1059px #000, 1673px 1350px #000, 391px 1431px #000, 773px 1301px #000,
    1403px 1166px #000, 824px 1647px #000, 290px 716px #000, 278px 1181px #000,
    728px 110px #000, 1677px 377px #000, 848px 233px #000, 1444px 1624px #000,
    1766px 1658px #000, 1197px 1107px #000, 432px 1982px #000, 58px 1216px #000,
    412px 443px #000, 1714px 1182px #000, 245px 1381px #000, 311px 65px #000,
    1362px 1679px #000, 297px 341px #000, 45px 1283px #000, 1601px 1827px #000,
    1741px 665px #000, 235px 79px #000, 1405px 464px #000, 809px 1944px #000,
    756px 142px #000, 1095px 1211px #000, 1752px 1602px #000, 511px 277px #000,
    1050px 1283px #000, 690px 1699px #000, 1491px 1806px #000, 629px 1999px #000,
    527px 128px #000, 23px 716px #000, 1367px 741px #000, 1533px 672px #000,
    1339px 1788px #000, 1207px 316px #000, 1727px 76px #000, 31px 1084px #000,
    1783px 1635px #000, 417px 1671px #000, 131px 89px #000, 973px 363px #000,
    480px 719px #000, 284px 1293px #000, 1576px 320px #000, 323px 1997px #000,
    921px 721px #000, 1220px 1060px #000, 1347px 889px #000, 168px 798px #000,
    643px 1876px #000, 648px 9px #000, 1954px 1008px #000, 76px 878px #000,
    990px 1785px #000, 710px 475px #000, 813px 325px #000, 1843px 488px #000,
    568px 471px #000, 403px 1599px #000, 1792px 792px #000, 1849px 1795px #000,
    1039px 990px #000, 1259px 394px #000, 835px 755px #000, 1047px 1476px #000,
    862px 344px #000, 597px 734px #000, 1266px 784px #000, 947px 1912px #000,
    211px 1827px #000, 1683px 562px #000, 1224px 1458px #000, 1429px 1360px #000,
    470px 1039px #000, 1273px 1184px #000, 575px 368px #000, 457px 1195px #000,
    1313px 923px #000, 148px 1426px #000, 737px 1222px #000, 1967px 42px #000,
    1875px 1814px #000, 313px 599px #000, 212px 1164px #000, 1944px 245px #000,
    1069px 1488px #000, 166px 1123px #000, 533px 1804px #000, 1443px 1776px #000,
    1481px 1483px #000, 1107px 1978px #000, 235px 612px #000, 151px 1259px #000,
    584px 1239px #000, 1376px 1954px #000, 1460px 1632px #000,
    1406px 1588px #000, 144px 1756px #000, 887px 1798px #000, 325px 970px #000,
    1047px 1228px #000, 1458px 83px #000, 1292px 375px #000, 239px 472px #000,
    1277px 1548px #000, 100px 127px #000, 1685px 16px #000, 1267px 1564px #000,
    1527px 318px #000, 924px 1625px #000, 582px 762px #000, 1202px 1342px #000,
    518px 1438px #000, 1925px 239px #000, 1514px 481px #000, 1279px 244px #000,
    239px 270px #000, 1375px 315px #000, 78px 739px #000, 488px 1837px #000,
    1287px 1126px #000, 504px 772px #000, 1804px 731px #000, 1414px 893px #000,
    103px 1877px #000, 945px 1556px #000, 509px 1142px #000, 1638px 1218px #000,
    9px 1860px #000, 1413px 399px #000, 1432px 88px #000, 1226px 1678px #000,
    1061px 44px #000, 1023px 100px #000, 1974px 1280px #000, 1434px 40px #000,
    20px 1450px #000, 151px 1818px #000, 238px 906px #000, 451px 1550px #000,
    1164px 1683px #000, 604px 693px #000, 816px 1800px #000, 400px 1792px #000,
    1527px 1969px #000, 1507px 1026px #000, 1947px 1584px #000,
    923px 1289px #000, 188px 1000px #000, 764px 1961px #000, 413px 506px #000,
    610px 997px #000, 12px 745px #000, 828px 613px #000, 546px 1239px #000,
    1132px 1855px #000, 492px 1022px #000, 969px 650px #000, 584px 437px #000,
    951px 1519px #000, 1325px 777px #000, 1226px 1031px #000, 1930px 1186px #000,
    831px 1101px #000, 857px 169px #000, 222px 1202px #000, 776px 604px #000,
    1166px 1577px #000, 528px 1780px #000, 855px 1771px #000, 637px 385px #000,
    1106px 802px #000, 1207px 162px #000, 793px 1448px #000, 937px 1976px #000,
    19px 632px #000, 450px 1201px #000, 678px 1253px #000, 1894px 1050px #000,
    282px 1449px #000, 41px 1065px #000, 1081px 1658px #000;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 610px 1355px #000, 556px 441px #000, 163px 296px #000,
    1417px 1165px #000, 1420px 1522px #000, 970px 1223px #000, 702px 216px #000,
    779px 273px #000, 993px 674px #000, 997px 1567px #000, 1697px 1045px #000,
    1101px 1059px #000, 1673px 1350px #000, 391px 1431px #000, 773px 1301px #000,
    1403px 1166px #000, 824px 1647px #000, 290px 716px #000, 278px 1181px #000,
    728px 110px #000, 1677px 377px #000, 848px 233px #000, 1444px 1624px #000,
    1766px 1658px #000, 1197px 1107px #000, 432px 1982px #000, 58px 1216px #000,
    412px 443px #000, 1714px 1182px #000, 245px 1381px #000, 311px 65px #000,
    1362px 1679px #000, 297px 341px #000, 45px 1283px #000, 1601px 1827px #000,
    1741px 665px #000, 235px 79px #000, 1405px 464px #000, 809px 1944px #000,
    756px 142px #000, 1095px 1211px #000, 1752px 1602px #000, 511px 277px #000,
    1050px 1283px #000, 690px 1699px #000, 1491px 1806px #000, 629px 1999px #000,
    527px 128px #000, 23px 716px #000, 1367px 741px #000, 1533px 672px #000,
    1339px 1788px #000, 1207px 316px #000, 1727px 76px #000, 31px 1084px #000,
    1783px 1635px #000, 417px 1671px #000, 131px 89px #000, 973px 363px #000,
    480px 719px #000, 284px 1293px #000, 1576px 320px #000, 323px 1997px #000,
    921px 721px #000, 1220px 1060px #000, 1347px 889px #000, 168px 798px #000,
    643px 1876px #000, 648px 9px #000, 1954px 1008px #000, 76px 878px #000,
    990px 1785px #000, 710px 475px #000, 813px 325px #000, 1843px 488px #000,
    568px 471px #000, 403px 1599px #000, 1792px 792px #000, 1849px 1795px #000,
    1039px 990px #000, 1259px 394px #000, 835px 755px #000, 1047px 1476px #000,
    862px 344px #000, 597px 734px #000, 1266px 784px #000, 947px 1912px #000,
    211px 1827px #000, 1683px 562px #000, 1224px 1458px #000, 1429px 1360px #000,
    470px 1039px #000, 1273px 1184px #000, 575px 368px #000, 457px 1195px #000,
    1313px 923px #000, 148px 1426px #000, 737px 1222px #000, 1967px 42px #000,
    1875px 1814px #000, 313px 599px #000, 212px 1164px #000, 1944px 245px #000,
    1069px 1488px #000, 166px 1123px #000, 533px 1804px #000, 1443px 1776px #000,
    1481px 1483px #000, 1107px 1978px #000, 235px 612px #000, 151px 1259px #000,
    584px 1239px #000, 1376px 1954px #000, 1460px 1632px #000,
    1406px 1588px #000, 144px 1756px #000, 887px 1798px #000, 325px 970px #000,
    1047px 1228px #000, 1458px 83px #000, 1292px 375px #000, 239px 472px #000,
    1277px 1548px #000, 100px 127px #000, 1685px 16px #000, 1267px 1564px #000,
    1527px 318px #000, 924px 1625px #000, 582px 762px #000, 1202px 1342px #000,
    518px 1438px #000, 1925px 239px #000, 1514px 481px #000, 1279px 244px #000,
    239px 270px #000, 1375px 315px #000, 78px 739px #000, 488px 1837px #000,
    1287px 1126px #000, 504px 772px #000, 1804px 731px #000, 1414px 893px #000,
    103px 1877px #000, 945px 1556px #000, 509px 1142px #000, 1638px 1218px #000,
    9px 1860px #000, 1413px 399px #000, 1432px 88px #000, 1226px 1678px #000,
    1061px 44px #000, 1023px 100px #000, 1974px 1280px #000, 1434px 40px #000,
    20px 1450px #000, 151px 1818px #000, 238px 906px #000, 451px 1550px #000,
    1164px 1683px #000, 604px 693px #000, 816px 1800px #000, 400px 1792px #000,
    1527px 1969px #000, 1507px 1026px #000, 1947px 1584px #000,
    923px 1289px #000, 188px 1000px #000, 764px 1961px #000, 413px 506px #000,
    610px 997px #000, 12px 745px #000, 828px 613px #000, 546px 1239px #000,
    1132px 1855px #000, 492px 1022px #000, 969px 650px #000, 584px 437px #000,
    951px 1519px #000, 1325px 777px #000, 1226px 1031px #000, 1930px 1186px #000,
    831px 1101px #000, 857px 169px #000, 222px 1202px #000, 776px 604px #000,
    1166px 1577px #000, 528px 1780px #000, 855px 1771px #000, 637px 385px #000,
    1106px 802px #000, 1207px 162px #000, 793px 1448px #000, 937px 1976px #000,
    19px 632px #000, 450px 1201px #000, 678px 1253px #000, 1894px 1050px #000,
    282px 1449px #000, 41px 1065px #000, 1081px 1658px #000;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1736px 826px #000, 1441px 1100px #000, 627px 640px #000,
    875px 64px #000, 1108px 1875px #000, 1877px 1704px #000, 473px 404px #000,
    537px 559px #000, 1910px 301px #000, 1652px 1954px #000, 153px 48px #000,
    545px 583px #000, 931px 1722px #000, 1195px 1739px #000, 216px 1912px #000,
    448px 596px #000, 431px 1318px #000, 204px 602px #000, 839px 1805px #000,
    20px 1442px #000, 505px 85px #000, 1544px 926px #000, 121px 1357px #000,
    1350px 899px #000, 894px 1746px #000, 557px 1082px #000, 594px 1876px #000,
    1161px 891px #000, 1544px 173px #000, 1143px 114px #000, 1752px 27px #000,
    972px 359px #000, 590px 1094px #000, 653px 1895px #000, 1045px 419px #000,
    361px 338px #000, 1928px 1249px #000, 995px 638px #000, 1031px 190px #000,
    1026px 1412px #000, 483px 1813px #000, 534px 1085px #000, 66px 500px #000,
    1846px 1870px #000, 1528px 814px #000, 1345px 935px #000, 1132px 302px #000,
    1102px 868px #000, 265px 88px #000, 232px 911px #000, 752px 1960px #000,
    450px 1510px #000, 1979px 964px #000, 887px 1579px #000, 1758px 712px #000,
    1352px 1061px #000, 1920px 515px #000, 253px 1746px #000, 245px 747px #000,
    154px 1507px #000, 1136px 211px #000, 1953px 1316px #000, 188px 1508px #000,
    1536px 1395px #000, 405px 1133px #000, 430px 1350px #000, 361px 1220px #000,
    97px 1538px #000, 627px 1304px #000, 1009px 399px #000, 500px 633px #000,
    1329px 1433px #000, 577px 1076px #000, 709px 1696px #000, 231px 879px #000,
    294px 1830px #000, 1733px 1744px #000, 1478px 865px #000, 158px 44px #000,
    1447px 1724px #000, 292px 797px #000, 146px 1573px #000, 679px 422px #000,
    770px 1261px #000, 215px 628px #000, 973px 860px #000, 1825px 1163px #000,
    619px 779px #000, 1193px 1162px #000, 1654px 583px #000, 753px 1216px #000,
    817px 1774px #000, 1765px 794px #000, 1474px 1274px #000, 819px 802px #000,
    740px 1076px #000, 507px 1827px #000, 1505px 377px #000, 1142px 404px #000,
    420px 727px #000;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1736px 826px #000, 1441px 1100px #000, 627px 640px #000,
    875px 64px #000, 1108px 1875px #000, 1877px 1704px #000, 473px 404px #000,
    537px 559px #000, 1910px 301px #000, 1652px 1954px #000, 153px 48px #000,
    545px 583px #000, 931px 1722px #000, 1195px 1739px #000, 216px 1912px #000,
    448px 596px #000, 431px 1318px #000, 204px 602px #000, 839px 1805px #000,
    20px 1442px #000, 505px 85px #000, 1544px 926px #000, 121px 1357px #000,
    1350px 899px #000, 894px 1746px #000, 557px 1082px #000, 594px 1876px #000,
    1161px 891px #000, 1544px 173px #000, 1143px 114px #000, 1752px 27px #000,
    972px 359px #000, 590px 1094px #000, 653px 1895px #000, 1045px 419px #000,
    361px 338px #000, 1928px 1249px #000, 995px 638px #000, 1031px 190px #000,
    1026px 1412px #000, 483px 1813px #000, 534px 1085px #000, 66px 500px #000,
    1846px 1870px #000, 1528px 814px #000, 1345px 935px #000, 1132px 302px #000,
    1102px 868px #000, 265px 88px #000, 232px 911px #000, 752px 1960px #000,
    450px 1510px #000, 1979px 964px #000, 887px 1579px #000, 1758px 712px #000,
    1352px 1061px #000, 1920px 515px #000, 253px 1746px #000, 245px 747px #000,
    154px 1507px #000, 1136px 211px #000, 1953px 1316px #000, 188px 1508px #000,
    1536px 1395px #000, 405px 1133px #000, 430px 1350px #000, 361px 1220px #000,
    97px 1538px #000, 627px 1304px #000, 1009px 399px #000, 500px 633px #000,
    1329px 1433px #000, 577px 1076px #000, 709px 1696px #000, 231px 879px #000,
    294px 1830px #000, 1733px 1744px #000, 1478px 865px #000, 158px 44px #000,
    1447px 1724px #000, 292px 797px #000, 146px 1573px #000, 679px 422px #000,
    770px 1261px #000, 215px 628px #000, 973px 860px #000, 1825px 1163px #000,
    619px 779px #000, 1193px 1162px #000, 1654px 583px #000, 753px 1216px #000,
    817px 1774px #000, 1765px 794px #000, 1474px 1274px #000, 819px 802px #000,
    740px 1076px #000, 507px 1827px #000, 1505px 377px #000, 1142px 404px #000,
    420px 727px #000;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}